.fllclndr_lft {
  width: 220px;
  float: left;
  padding: 0;
  border: 1px solid #CCC;
  border-bottom: 0;
  position: relative;
  right: -1px;
}

.fllclndr_lft .hdrlfttl {
  height: 36px;
  padding: 5px 10px;
  background-color: #F9F9F9;
  border-bottom: 1px solid #CCC;
  text-align: center;
}

.fllclndr_lft .vslhdr {
  background-color: #606060;
  color: #FFF;
  text-align: center;
  font-weight: bold;
  height: 24px;
  font-size: 16px;
  letter-spacing: 1px;
}

.fllclndr_lft ul {
  margin: 0;
  padding: 0;
}

.fllclndr_lft ul li {
  list-style: none;
  border-bottom: 1px solid #CCC;
  padding: 0 10px;
  min-height: 24px;
  font-size: 13px;
  font-weight: bold;
}

.fllclndr_lft ul li:first-child {
  border-top: 1px solid #CCC;
}

.fllclndr_lft ul li .fa {
  font-size: 18px;
  position: relative;
  top: 3px;
}

.fllclndr_rght {
  margin-left: 220px;
  overflow-x: auto;
  padding: 80px 0 5px;
  margin-top: -80px;
}

.fllclndr_rght::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.fllclndr_rght::-webkit-scrollbar {
  height: 8px;
  background-color: #F5F5F5;
}

.fllclndr_rght::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  background-color: #333;
}

.tbl {
  width: 1200px;
  border: 1px solid #CCC;
  border-collapse: collapse;
}

.tbl.ccp {
  width: 100%;
}

.tbl.ccp .thd {
  width: auto;
}

.tbl.ccp .thd:nth-child(1), .tbl.ccp .thd:nth-child(4) {
  text-align: left;
}

.tbl.ccp td {
  padding: 2px 10px;
}

.tbl.ccp td:nth-child(1), .tbl.ccp td:nth-child(4) {
  text-align: left;
}

.tbl.ccp td a {
  font-weight: bold;
  text-transform: uppercase;
}

.tbl th, .tbl td {
  text-align: center;
  border: 1px solid #ccc;
  position: relative;
}

.tbl th h5, .tbl td h5 {
  margin: 0;
}

.tbl th.thd, .tbl td.thd {
  background-color: #F9F9F9;
  color: #000;
  width: 33.33%;
  height: 36px;
  padding: 5px 10px;
}

.tbl th .tbdy, .tbl td .tbdy {
  float: left;
  width: 100%;
  color: #FFF;
  cursor: pointer;
}

.tbl th .tbdy.td2018, .tbl td .tbdy.td2018 {
  background-color: #0e99ac;
}

.tbl th .tbdy.td2019, .tbl td .tbdy.td2019 {
  background-color: #f1a94e;
}

.tbl th .tbdy.td2020, .tbl td .tbdy.td2020 {
  background-color: #e45641;
}

.tbl th .tbdy.td2021, .tbl td .tbdy.td2021 {
  background-color: #646c70;
}

.tbl th .tbdy.td2022, .tbl td .tbdy.td2022 {
  background-color: #e16060;
}

.tbl th .tbdy.td2023, .tbl td .tbdy.td2023 {
  background-color: #60e1d1;
}

ul.lgnd {
  margin: 0;
  padding: 0;
}

ul.lgnd li {
  list-style: none;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
}

ul.lgnd li:nth-child(1) .fa {
  color: #0e99ac;
}

ul.lgnd li:nth-child(2) .fa {
  color: #f1a94e;
}

ul.lgnd li:nth-child(3) .fa {
  color: #e45641;
}

ul.lgnd li:nth-child(4) .fa {
  color: #646c70;
}

ul.lgnd li:nth-child(5) .fa {
  color: #e16060;
}

ul.lgnd li:nth-child(6) .fa {
  color: #60e1d1;
}

ul.lgnd li .fa {
  font-size: 25px;
  position: relative;
  top: 2px;
  margin-right: 2px;
}

#search_data {
  width: 100%;
}

#search_data button {
  border: 1px solid #0077c0;
  border-radius: 0;
  background-color: #0077c0;
  color: #FFF;
  height: 34px;
  padding: 5px 15px;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

#search_data input[type=text] {
  border: 1px solid #0077c0;
  border-right: 0;
  height: 34px;
  font-size: 14px;
}

#search_data .dropdown-toggle {
  background-color: #FFF;
  border-right: 1px solid #0077c0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-left: 0;
  color: #0077c0;
  font-size: 14px;
}

#search_data .dropdown-menu {
  border: 1px solid #0077c0;
  color: #0077c0;
  position: relative;
}

#search_data .dropdown-menu a {
  color: #0077c0;
}

#search_data .dropdown-menu .arrow:before {
  position: absolute;
  top: -8px;
  left: 37px;
  display: inline-block;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #0077c0;
  border-left: 8px solid transparent;
  border-bottom-color: #1f3383;
  content: '';
}

#search_data .dropdown-menu .arrow:after {
  position: absolute;
  top: -7px;
  left: 38px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ffffff;
  border-left: 7px solid transparent;
  content: '';
}

.pgnt.pagination {
  float: right;
  margin: 15px 0 0;
}

.pgnt.pagination .page-link {
  border: 1px solid #0077c0;
  color: #000;
  border-radius: 0;
  padding: 4px 10px;
}

.pgnt.pagination .page-link.active {
  background-color: #0077c0;
  color: #FFF;
}

.popcntnr {
  position: absolute;
  right: -115px;
  bottom: 20px;
  z-index: 9;
}

.popcntnr .popover {
  position: relative;
  display: block;
  border: 1px solid #0077c0;
  width: 320px;
  max-width: 320px;
}

.popcntnr .popover .arrow {
  left: 50%;
}

.popcntnr .popover .arrow::before {
  border-top-color: #002c47;
}

.popcntnr .popover .popover-body {
  padding: 10px;
  line-height: 16px;
  position: relative;
}

.popcntnr .popover .popover-body .fa-times-circle {
  position: absolute;
  right: 6px;
  top: 4px;
  font-size: 18px;
  color: #c44242;
  cursor: pointer;
}

.popcntnr .popover .popover-body .fa-user-circle {
  font-size: 50px;
  color: #bebebe;
  float: left;
  margin-right: 10px;
}

.popcntnr .popover .popover-body h4 {
  font-size: 16px;
  border-bottom: 1px dotted #0077c0;
  margin-left: 60px;
  padding-bottom: 5px;
  margin-bottom: 2px;
}

.popcntnr .popover .popover-body span {
  float: left;
  font-size: 12px;
}

.popcntnr .popover .popover-body span strong {
  color: #0077c0;
}

.popcntnr .popover .popover-body .btns {
  margin-top: 5px;
}

.popcntnr .popover .popover-body .btns .btn {
  padding: 4px 10px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0;
  width: 100%;
}

.popcntnr .popover .popover-body .btns .btn.btn-primary {
  background-color: #0077c0;
}

.popcntnr .popover .popover-body .btns .btn .fa {
  font-size: 16px;
}

.modal .modal-content {
  border-radius: 0;
}

.modal .modal-content .modal-header {
  padding: 6px 15px;
  background-color: #29166f;
  color: #FFF;
}

.modal .modal-content .modal-header h5 {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
}

.modal .modal-content .modal-header .close {
  cursor: pointer;
  outline: none;
  text-shadow: none;
  color: #FFF;
  opacity: 1;
  position: relative;
  top: -4px;
  right: -2px;
}

.modal .modal-content .modal-body .nav-tabs .nav-link {
  text-transform: uppercase;
  font-weight: bold;
}

.modal .modal-content .modal-body .nav-tabs .nav-link:hover:not(.active) {
  border-color: transparent;
}

.modal .modal-content .modal-body .tab-content {
  padding-top: 10px;
}

.modal .modal-content .modal-body .lstcrews {
  margin: 0;
  padding: 0;
}

.modal .modal-content .modal-body .lstcrews .crws {
  padding: 12px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  position: relative;
}

.modal .modal-content .modal-body .lstcrews .crws .rmv {
  position: absolute;
  right: 6px;
  top: 4px;
}

.modal .modal-content .modal-body .lstcrews .crws .rmv .popcntnr {
  right: -100px;
  left: -110px;
  bottom: 18px;
}

.modal .modal-content .modal-body .lstcrews .crws .rmv .popcntnr .popover {
  display: block;
  width: auto;
  max-width: inherit;
}

.modal .modal-content .modal-body .lstcrews .crws .rmv .popcntnr .popover .popover-body {
  font-size: 13px;
}

.modal .modal-content .modal-body .lstcrews .crws .rmv .fa-times-circle {
  font-size: 18px;
  color: #c44242;
  cursor: pointer;
}

.modal .modal-content .modal-body .lstcrews .crws .rmv .btn {
  border-radius: 0;
  padding: 2px 10px 4px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.modal .modal-content .modal-body .lstcrews .crws .rmv .btn.btn-primary {
  background-color: #0077c0;
}

.modal .modal-content .modal-body .lstcrews .crws .rmv .btn .fa {
  font-size: 20px;
}

.modal .modal-content .modal-body .lstcrews .crws .icn {
  float: left;
  width: 50px;
  text-align: center;
  background-color: #ebebeb;
  border-radius: 50%;
  height: 50px;
  padding-top: 4px;
}

.modal .modal-content .modal-body .lstcrews .crws .icn .fa-user {
  font-size: 40px;
  color: #CCC;
}

.modal .modal-content .modal-body .lstcrews .crws .dtls {
  margin-left: 50px;
  padding: 0 10px;
}

.modal .modal-content .modal-body .lstcrews .crws .dtls h4 {
  margin: 0;
  font-size: 16px;
  border-bottom: 1px solid #0077c0;
  padding-bottom: 2px;
}

.modal .modal-content .modal-body .lstcrews .crws .dtls p {
  margin: 0 0 5px;
  font-size: 12px;
}

.modal .modal-content .modal-body .lstcrews .crws .dtls .btns {
  position: relative;
}

.modal .modal-content .modal-body .lstcrews .crws .dtls .btns .popcntnr {
  right: -60px;
  left: -40px;
  bottom: 25px;
}

.modal .modal-content .modal-body .lstcrews .crws .dtls .btns .popcntnr .popover {
  display: block;
  width: auto;
  max-width: inherit;
}

.modal .modal-content .modal-body .lstcrews .crws .dtls .btns .btn {
  border-radius: 0;
  padding: 2px 10px 4px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.modal .modal-content .modal-body .lstcrews .crws .dtls .btns .btn.btn-primary {
  background-color: #0077c0;
}

.modal .modal-content .modal-body .lstcrews .crws .dtls .btns .btn .fa {
  font-size: 20px;
}

.modal .modal-content .modal-body .ccpdtls {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  float: left;
  width: 100%;
}

.modal .modal-content .modal-body .ccpdtls li {
  width: 50%;
  float: left;
  list-style: none;
}

.modal .modal-content .modal-body .ccpdtls li strong, .modal .modal-content .modal-body .ccpdtls li span {
  border: 1px solid #ccc;
  padding: 2px 10px;
  float: left;
  width: 100%;
  border-bottom: 0;
  border-right: 0;
  text-align: center;
}

.modal .modal-content .modal-body .ccpdtls li strong {
  background-color: #0077c0;
  color: #FFF;
}

.tbl.ccp td {
  padding: 8px 10px;
  height: 40px;
}

.tbl.ccp td .btn.btn-success {
  border-radius: 0;
  padding: 0 8px;
  border: 0;
  background-color: transparent;
  outline: none;
}

.tbl.ccp td .btn.btn-success:focus {
  box-shadow: none;
}

.tbl.ccp td .btn.btn-success .fa {
  color: #0077c0;
  font-size: 30px;
}

.tbl.ccp td:last-child {
  width: 60px;
  padding: 0;
}

.hdrbdy.ccp ul li {
  padding: 6px 10px;
  height: 40px;
}

.hdrbdy.ccp ul li .fa {
  font-size: 24px;
}

.hdrbdy.ccp ul li span {
  margin-left: 5px;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  top: -3px;
}

.cntnbx {
  background-color: #FFF;
  padding: 20px;
  border: 1px solid #0077c0;
  margin: 0 20px 15px;
  font-size: 14px;
  clear: both;
  position: relative;
  top: -15px;
}

/*# sourceMappingURL=crm.css.map */
