[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}
#wrapper{
	display: grid;
	grid-template-columns: 250px 1fr 1fr 1fr 1fr 350px;
	grid-template-rows: minmax(60px, auto) 1fr;
	grid-template-areas:
		"logo search search search search picture"
		"navi content content content content content";		
	.admnbx{
		padding: 1em;
		
		&.logo{
			grid-area: logo;
			background-color: #29166f;
			padding: 5px 30px 5px 25px;
			.cmpnylogo{
				img{
					width: 100%;
				}
			}
		}

		&.search{
			grid-area: search;
			background-color: #29166f;
			#search_data{
				width: 100%;
				
				input[type=text]{border-right: 0;}
				.dropdown-toggle{
					background-color: #FFF;
					border-right: 1px solid rgba(0,0,0,.15);
					border-top-right-radius: .25rem;
    				border-bottom-right-radius: .25rem;
				}
			}
		}

		&.picture{
			grid-area: picture;
			background-color: #29166f;
			padding-bottom: 10px;
			color: #FFF;
			.dp{
				cursor: pointer;
				position: relative;
				display: inline-block;
				float: right;
				margin-right: 15px;

				.fa{
					font-size: 50px;
					color: #CCC;
					margin: -5px 0 0;
				}

				.dropdown-menu{
				    top: 2px !important;
				    left: -3px !important;
					
					a{
						padding: 8px 15px;
					}

					&:before {
					  position: absolute;
					  top: -8px;
					  right: 39px;
					  display: inline-block;
					  border-right: 8px solid transparent;
					  border-bottom: 8px solid #ccc;
					  border-left: 8px solid transparent;
					  border-bottom-color: rgba(0, 0, 0, 0.2);
					  content: '';
					}

					&:after {
					  position: absolute;
					  top: -7px;
					  right: 40px;
					  display: inline-block;
					  border-right: 7px solid transparent;
					  border-bottom: 7px solid #ffffff;
					  border-left: 7px solid transparent;
					  content: '';
					}
				}
			}
		}

		&.navi{
			grid-area: navi;
			background-color: #F9F9F9;
			padding: 0;
			min-height: 100vH;
			ul{
				margin: 0;
				padding: 0;
				
				li{
					list-style: none;
					float: left;
					width: 100%;
					a{
						display: inline-block;
						width: 100%;
						padding: 8px 20px;
						text-decoration: none;
						border-top: 1px solid #FFF;
						border-bottom: 1px solid #E9E9E9;
						position: relative;

						.icn{position: absolute; top: 10px;}
						.lbl{
							display: block;
							padding-left: 30px;
						}
					}
					&:first-child{
						border-bottom: 1px solid #E9E9E9;
					}
					&:last-child{
						border-top: 1px solid #FFF;
					}
				}
			}
		}

		&.content{
			grid-area: content;
			padding: 0;
			border-left: 1px solid rgba(0,0,0,.125);
			.cntnbx {
		    background-color: #FFF;
		    padding: 15px 30px;
		    margin: 0;
		    position: relative;

		    .ttl{
    	    font-size: 20px;
			    color: #0077c0;
			    padding-bottom: 5px;
			    margin: 0 0 20px;
			    border-bottom: 1px solid #0077c0;
		    }
				
				.card{
					border-radius: 0;
					.nav-tabs{
			    	.nav-link{
				    	&.active, &.active:hover{
				    		border-color: #dee2e6 #dee2e6 #fff;
				    	}
			    		&:hover{
			    			border-color: transparent;
			    		}
			    	}
			    }
			    .btn{
		    		&.btn-primary{
	  			    float: right;
					    background-color: #0077c0;
					    border-color: #02639e;
					    text-transform: uppercase;
					    font: 14px segobb;
					    border-radius: 0;
					    margin: 0 0 15px;
					    position: absolute;
			        right: 10px;
	    				top: 8px;
			    	}
		    	}
		    	.fileUpload{
		        position: relative;
		        float: left;

		        .upload{
							position: absolute;
							top: 0;
							right: 0;
							margin: 0;
							padding: 0;
							font-size: 20px;
							cursor: pointer;
							opacity: 0;
							filter: alpha(opacity=0);
						}
						.nptgrp {
					    margin: 0;
					    position: absolute;
					    right: 0;
					    left: 0;
					    width: 100%;
					    bottom: -5px;
					    z-index: 999;
					    .popcntnr {
						    position: absolute;
						    right: -20px;
						    left: 0;
						    bottom: 34px;
						    z-index: 9;
						    .popover-body {
							    padding-right: 28px;
							    ul{
							    	padding-left: 20px;
							    	margin: 0;
							    }
								}
							}
						}
					}

		    	.accordion{
		    		.card{
		    			.card-header{
			    			padding: 0;
			    			border-bottom: 0;

			    			.btn-link{
			    				width: 100%;
			    				text-align: left;
			    				text-decoration: none;
			    				padding: 5px 15px;
			    			}
			    			.btn-primary{
			    				position: absolute;
							    top: 1px;
							    right: 2px;
							    height: 34px;
							    z-index: 9;
							    padding: 5px 10px;
			    			}
			    			.btn-danger{
			    				border-radius: 0;
							    position: absolute;
							    right: 40px;
							    top: 1px;
							    padding: 5px 10px;
							    height: 34px;
							    z-index: 9;
							    border-color: #b72230;
			    			}
			    		}
			    		.card-body{
			    			border-top: 1px solid rgba(0,0,0,.125);
			    		}
		    		}
		    	}
				}
			}
		}
	}
	@media screen and (max-width: 992px) {
		grid-template-columns: 150px 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: minmax(60px, auto) minmax(60px, auto) 1fr 1fr;
		grid-template-areas:
			"logo logo logo picture picture picture"
			"navi search search search search search"
			"navi content content content content content"
			"navi content content content content content";

		.bx{
			&.navi{
				overflow: hidden;
				ul{
					li{
						&:first-child{border-bottom: 0;}
						a{
							padding: 8px 15px;

							.icn{display: none;}
						}
					}
				}
			}
			&.search{
			    border-top: 1px solid #FFF;
			}
			&.picture{
				background-color: #E9E9E9;
			}
		}
	}
	@media screen and (max-width: 767px) {
		grid-template-columns: 50px 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas:
			"logo logo logo picture picture picture"
			"search search search search search search"
			"navi content content content content content"
			"navi content content content content content";

		.bx{
			&.navi{
				ul{
					li{
						a{
							text-align: center;
							.icn{display: block; position: relative; top: 0; right: 0;}
							.lbl{display: none;}
						}
					}
				}
			}
		}
	}
}