#wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px 1fr 1fr 1fr 1fr 350px;
  grid-template-columns: 250px 1fr 1fr 1fr 1fr 350px;
  -ms-grid-rows: minmax(60px, auto) 1fr;
  grid-template-rows: minmax(60px, auto) 1fr;
  grid-template-areas: "logo search search search search picture" "navi content content content content content";
}

#wrapper .admnbx {
  padding: 1em;
}

#wrapper .admnbx.logo {
  grid-area: logo;
  background-color: #29166f;
  padding: 5px 30px 5px 25px;
}

#wrapper .admnbx.logo .cmpnylogo img {
  width: 100%;
}

#wrapper .admnbx.search {
  grid-area: search;
  background-color: #29166f;
}

#wrapper .admnbx.search #search_data {
  width: 100%;
}

#wrapper .admnbx.search #search_data input[type=text] {
  border-right: 0;
}

#wrapper .admnbx.search #search_data .dropdown-toggle {
  background-color: #FFF;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

#wrapper .admnbx.picture {
  grid-area: picture;
  background-color: #29166f;
  padding-bottom: 10px;
  color: #FFF;
}

#wrapper .admnbx.picture .dp {
  cursor: pointer;
  position: relative;
  display: inline-block;
  float: right;
  margin-right: 15px;
}

#wrapper .admnbx.picture .dp .fa {
  font-size: 50px;
  color: #CCC;
  margin: -5px 0 0;
}

#wrapper .admnbx.picture .dp .dropdown-menu {
  top: 2px !important;
  left: -3px !important;
}

#wrapper .admnbx.picture .dp .dropdown-menu a {
  padding: 8px 15px;
}

#wrapper .admnbx.picture .dp .dropdown-menu:before {
  position: absolute;
  top: -8px;
  right: 39px;
  display: inline-block;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #ccc;
  border-left: 8px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

#wrapper .admnbx.picture .dp .dropdown-menu:after {
  position: absolute;
  top: -7px;
  right: 40px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ffffff;
  border-left: 7px solid transparent;
  content: '';
}

#wrapper .admnbx.navi {
  grid-area: navi;
  background-color: #F9F9F9;
  padding: 0;
  min-height: 100vH;
}

#wrapper .admnbx.navi ul {
  margin: 0;
  padding: 0;
}

#wrapper .admnbx.navi ul li {
  list-style: none;
  float: left;
  width: 100%;
}

#wrapper .admnbx.navi ul li a {
  display: inline-block;
  width: 100%;
  padding: 8px 20px;
  text-decoration: none;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #E9E9E9;
  position: relative;
}

#wrapper .admnbx.navi ul li a .icn {
  position: absolute;
  top: 10px;
}

#wrapper .admnbx.navi ul li a .lbl {
  display: block;
  padding-left: 30px;
}

#wrapper .admnbx.navi ul li:first-child {
  border-bottom: 1px solid #E9E9E9;
}

#wrapper .admnbx.navi ul li:last-child {
  border-top: 1px solid #FFF;
}

#wrapper .admnbx.content {
  grid-area: content;
  padding: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}

#wrapper .admnbx.content .cntnbx {
  background-color: #FFF;
  padding: 15px 30px;
  margin: 0;
  position: relative;
}

#wrapper .admnbx.content .cntnbx .ttl {
  font-size: 20px;
  color: #0077c0;
  padding-bottom: 5px;
  margin: 0 0 20px;
  border-bottom: 1px solid #0077c0;
}

#wrapper .admnbx.content .cntnbx .card {
  border-radius: 0;
}

#wrapper .admnbx.content .cntnbx .card .nav-tabs .nav-link.active, #wrapper .admnbx.content .cntnbx .card .nav-tabs .nav-link.active:hover {
  border-color: #dee2e6 #dee2e6 #fff;
}

#wrapper .admnbx.content .cntnbx .card .nav-tabs .nav-link:hover {
  border-color: transparent;
}

#wrapper .admnbx.content .cntnbx .card .btn.btn-primary {
  float: right;
  background-color: #0077c0;
  border-color: #02639e;
  text-transform: uppercase;
  font: 14px segobb;
  border-radius: 0;
  margin: 0 0 15px;
  position: absolute;
  right: 10px;
  top: 8px;
}

#wrapper .admnbx.content .cntnbx .card .fileUpload {
  position: relative;
  float: left;
}

#wrapper .admnbx.content .cntnbx .card .fileUpload .upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

#wrapper .admnbx.content .cntnbx .card .accordion .card .card-header {
  padding: 0;
  border-bottom: 0;
}

#wrapper .admnbx.content .cntnbx .card .accordion .card .card-header .btn-link {
  width: 100%;
  text-align: left;
  text-decoration: none;
  padding: 5px 15px;
}

#wrapper .admnbx.content .cntnbx .card .accordion .card .card-header .btn-primary {
  position: absolute;
  top: 1px;
  right: 2px;
  height: 34px;
  z-index: 9;
  padding: 5px 10px;
}

#wrapper .admnbx.content .cntnbx .card .accordion .card .card-header .btn-danger {
  border-radius: 0;
  position: absolute;
  right: 40px;
  top: 1px;
  padding: 5px 10px;
  height: 34px;
  z-index: 9;
  border-color: #b72230;
}

#wrapper .admnbx.content .cntnbx .card .accordion .card .card-body {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

@media screen and (max-width: 992px) {
  #wrapper {
    -ms-grid-columns: 150px 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 150px 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: minmax(60px, auto) minmax(60px, auto) 1fr 1fr;
    grid-template-rows: minmax(60px, auto) minmax(60px, auto) 1fr 1fr;
    grid-template-areas: "logo logo logo picture picture picture" "navi search search search search search" "navi content content content content content" "navi content content content content content";
  }
  #wrapper .bx.navi {
    overflow: hidden;
  }
  #wrapper .bx.navi ul li:first-child {
    border-bottom: 0;
  }
  #wrapper .bx.navi ul li a {
    padding: 8px 15px;
  }
  #wrapper .bx.navi ul li a .icn {
    display: none;
  }
  #wrapper .bx.search {
    border-top: 1px solid #FFF;
  }
  #wrapper .bx.picture {
    background-color: #E9E9E9;
  }
}

@media screen and (max-width: 767px) {
  #wrapper {
    -ms-grid-columns: 50px 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 50px 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "logo logo logo picture picture picture" "search search search search search search" "navi content content content content content" "navi content content content content content";
  }
  #wrapper .bx.navi ul li a {
    text-align: center;
  }
  #wrapper .bx.navi ul li a .icn {
    display: block;
    position: relative;
    top: 0;
    right: 0;
  }
  #wrapper .bx.navi ul li a .lbl {
    display: none;
  }
}

/*# sourceMappingURL=admin.css.map */
